*{
    /* background-color: salmon; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.wrap {
    margin: 0 auto;
    padding: 50px;
}
.title-wrap {
    padding-bottom: 30px;
}
.title {
    text-align: center;
}
.cityUser {
    text-align: center;
    font-size: 30px;
}
.tempUser {
    text-align: center;
    font-size: 24px;
}
.imageUser {
    display: block;
    margin: 0 auto;
}
.choose-city {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.input-city{
    display: block;
    margin: 0 auto;
    outline: 5px solid white;
    background-color: skyblue;
    padding-bottom: 10px;
}
.btn {
    background-color: aliceblue;
}